<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.servDroid.web"
    android:versionCode="00205"
    android:versionName="@string/version" > <!-- See strings.xml -->
    <uses-sdk android:minSdkVersion="4" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:persistent="true" >
        <activity
            android:noHistory="true"
            android:name="org.servDroid.ServDroid"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.servDroid.LogViewer" >
        </activity>
        <activity android:name="org.servDroid.preference.PreferencesActivity" >
        </activity>

        <service android:name="org.servDroid.server.service.ServerService" >
            <intent-filter>
                <action android:name="org.servDroid.server.service.ServiceController" />
                <!--
            <action android:name="android.intent.action.BOOT_COMPLETED" />
   		<category android:name="android.intent.category.LAUNCHER" />
                -->
            </intent-filter>
        </service>

        <receiver
            android:name="org.servDroid.server.service.AutoStartReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- ADMOB  Adwords -->
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

</manifest>